// Add your SeaTable credentials here for local development
SEATABLE_API_TOKEN=your_seatable_api_token
SEATABLE_SERVER=https://cloud.seatable.io
SEATABLE_WORKSPACE_ID=your_workspace_id
SEATABLE_BASE_NAME=your_base_name
NEXT_PUBLIC_SEATABLE_UUID=your_dtable_uuid
NEXT_PUBLIC_SEATABLE_TABLE=your_table_name
